<!DOCTYPE html>
<html>
  <head>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <title>RailsProject64</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <ul>
      <li><%= link_to 'Home', user_session_path %></li>
      <li><%= link_to 'Sing up', new_user_registration_path %></li>
      <%# BEGIN %>
      <li><%= link_to 'Sing in', new_user_session_path %></li>
      <%# END %>
    </ul>
    <%= yield %>
  </body>
</html>
